In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('C:/Users/user/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
1858,tt0120913,75000000,36754634,Titan A.E.,Matt Damon|Bill Pullman|Drew Barrymore|John Le...,Don Bluth|Gary Goldman,"When Earth Ends, The Adventure Begins.",A young man finds out that he holds the key to...,94,Animation|Action|Science Fiction|Family|Adventure,Twentieth Century Fox Film Corporation|David K...,6/16/2000,6.1,2000
1314,tt0363771,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...",William Moseley|Anna Popplewell|Skandar Keynes...,Andrew Adamson,Evil Has Reigned For 100 Years...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,Adventure|Family|Fantasy,Walt Disney|Walden Media,12/7/2005,6.5,2005
1706,tt0463854,15000000,64238440,28 Weeks Later,Imogen Poots|Robert Carlyle|Rose Byrne|Jeremy ...,Juan Carlos Fresnadillo,When days turn to weeks... the horror returns.,"In this chilling sequel to 28 Days Later, the ...",100,Horror|Thriller|Science Fiction,DNA Films|Figment Films|Sociedad General de Ci...,4/26/2007,6.3,2007
1507,tt0405296,8500000,5480996,A Scanner Darkly,Keanu Reeves|Winona Ryder|Woody Harrelson|Robe...,Richard Linklater,Everything Is Not Going To Be OK,An undercover cop in a not-too-distant future ...,100,Animation|Science Fiction|Thriller,Thousand Words|Warner Independent Pictures (WI...,5/25/2006,6.7,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
#Создание необходимых для дальнейшей работы с таблицей колонок
#Часть из которых создана методом преобразования в список
#Исходных колонок с данными
#для создания колонки "month" используется извлечение первого 
#элемнета из списка "release_date_list",т.е номера месяца
#длины названий и описания необходимы для работы с последними
#заданиями
data['Profit']=data.revenue-data.budget
data['genres_list']=data['genres'].apply(lambda x: x.split('|'))
data['director_list']=data['director'].apply(lambda x: x.split('|'))
data['cast_list']=data['cast'].apply(lambda x: x.split('|'))
data['production_companies_list']=\
data['production_companies'].apply(lambda x: x.split('|'))
data['release_date_list']=data['release_date']\
.apply(lambda x: x.split('/'))
data['month']=data['release_date_list'].apply(lambda x: x[0])
data['length_name']=data['original_title'].apply(lambda x: len(x))
data['overview_length']=data['overview'].apply(lambda x: len(x))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
#Первая часть вопросов состоит из поиска определенных
#Значений при помощи минимума\максимума\среднего

In [6]:
answers['1'] = \
'5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#+

In [7]:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,Profit,genres_list,director_list,cast_list,production_companies_list,release_date_list,month,length_name,overview_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Walt Disney Pictures, Jerry Bruckheimer Films...","[5, 11, 2011]",5,43,411

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'
#+

In [9]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,Profit,genres_list,director_list,cast_list,production_companies_list,release_date_list,month,length_name,overview_length
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,...,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Turner Pictures, Antietam Filmworks]","[2, 21, 2003]",2,17,307

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,Profit,genres_list,director_list,cast_list,production_companies_list,release_date_list,month,length_name,overview_length
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Walt Disney Pictures, Walt Disney Animation S...","[4, 13, 2011]",4,15,305

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'
#+

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'
#+

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
#в предобработке создана колонка "Profit"
#необходимая для работы с некоторыми вопросами

In [17]:
answers['6'] = '5. Avatar (tt0499549)'
#+

In [18]:
data[data.Profit==data.Profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,Profit,genres_list,director_list,cast_list,production_companies_list,release_date_list,month,length_name,overview_length
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,...,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Ingenious Film Partners, Twentieth Century Fo...","[12, 10, 2009]",12,6,175

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
#+

In [20]:
data[data.Profit==data.Profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,Profit,genres_list,director_list,cast_list,production_companies_list,release_date_list,month,length_name,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",7,15,386

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'
#+

In [22]:
#Подсчет кол-ва фильмов,в которых доход - расход >0
len(data[data.Profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'
#+

In [24]:
#Создаем выборку из фильмов 2008 года и ищем максимум
#По кассовым сборам
data2008=data.query('release_year==2008')
data2008[data2008.revenue==data2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,Profit,genres_list,director_list,cast_list,production_companies_list,release_date_list,month,length_name,overview_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[Christian Bale, Michael Caine, Heath Ledger, ...","[DC Comics, Legendary Pictures, Warner Bros., ...","[7, 16, 2008]",7,15,396

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
#+

In [26]:
#Создаем выборку из фильмов 12-14 годов
#и ищем минимальную прибыль
data_12_14=data.query('2011<release_year<2015')
data_12_14[data_12_14.Profit==data_12_14.Profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,Profit,genres_list,director_list,cast_list,production_companies_list,release_date_list,month,length_name,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",7,15,386

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = '3. Drama'
#+

In [28]:
#Анализируем столбец с жанрами,преобразуя при помощи cat
#и считаем количество жанров
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [29]:
#в предобработке создаем столбец "список жанров",
#где жанры преобразованы в списки
#При помощи explode разделяем списки жанров на отдельные
#и считаем количество
data_genres_new=data.explode('genres_list')
data_genres_new.genres_list.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_list, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama'
#+

In [31]:
#Вариант 1
#Фильруем по прибыли и считаем жанры,преобразуя
#по аналогии с предыдущим заданием(вариант 1)
data_genres_profit=data[data.Profit>0]
Counter(data_genres_profit['genres'].str.cat(sep='|').split('|'))

Counter({'Action': 444,
         'Adventure': 337,
         'Science Fiction': 195,
         'Thriller': 446,
         'Fantasy': 188,
         'Crime': 231,
         'Western': 12,
         'Drama': 560,
         'Family': 226,
         'Animation': 120,
         'Comedy': 551,
         'Mystery': 119,
         'Romance': 242,
         'War': 41,
         'History': 46,
         'Music': 47,
         'Horror': 150,
         'Documentary': 7})

In [32]:
#Вариант 2
#фильтруем по прибыли и считаем количество 
#Отедльных жанров по аналогии с предыдущим заданием
#пользуясь логикой, задействованной в (11.Вариант 2)
data_positive_profit=data[data.Profit>0]
data_positive_genres=\
data_positive_profit.explode('genres_list')
data_positive_genres.genres_list.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13']='5. Peter Jackson'
#+

In [34]:
#Разделяем список по режиссерам и считаем кассовые сборы
data_director_max=data.explode('director_list')
data_director_max.groupby(['director_list'])['revenue'].sum().sort_values(ascending = False)

director_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14']='3. Robert Rodriguez'
#+

In [36]:
#разделяем список по режиссерам и фильтруем
#по упоминанию "Action" в жанрах,считаем кол-во
data_all_genres=data.explode('director_list')
data_action_genre=\
data_all_genres[data_all_genres.genres.str.contains('Action')]
data_action_genre.director_list.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Rod Lurie             1
Joe Cornish           1
Des McAnuff           1
DJ Pooh               1
Xavier Gens           1
Name: director_list, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15']='3. Chris Hemsworth'
#+

In [38]:
#разделяем список по отдельным актерам
#фильтруем по году выпуска , группируем по именам
# и считаем максимальные сборы
data_cast=data.explode('cast_list')
data_2012=data_cast[data_cast.release_year==2012]
data_2012.groupby(['cast_list'])['revenue']\
.max().sort_values(ascending=False)

cast_list
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
                         ...
Jason Bateman            3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16']='3. Matt Damon'
#+

In [40]:
#разделяем список по отдельным актерам
#фильтруем по прибыли выше среднего,
# и считаем количество упоминаний актеров
data_budget_mean=data.explode('cast_list')
data_budget_mean=\
data_budget_mean[data_budget_mean.budget>data.budget.mean()]
data_budget_mean.cast_list.value_counts()

Matt Damon             18
Adam Sandler           17
Angelina Jolie         16
Eddie Murphy           15
Samuel L. Jackson      15
                       ..
Christina Applegate     1
Max Charles             1
Brad Garrett            1
Aryana Engineer         1
Tia Carrere             1
Name: cast_list, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17']='2. Action'
#+

In [42]:
#разбиваем список по жанрам и актерам и считаем
#Сколько раз Николас Кейдж снялся в каждом жанре
data_cast=data.explode('cast_list')
data_cast_genres=data_cast.explode('genres_list')
data_cage_genres=\
data_cast_genres[data_cast_genres.cast_list.str.contains('Nicolas Cage')]
data_cage_genres.genres_list.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
War                 1
Romance             1
Name: genres_list, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18']='1. K-19: The Widowmaker (tt0267626)'
#+

In [44]:
#Разделяем список по кинокомпаниям
#фильтруем по "Парамаунт пикчерз"
#группируем по названию фильма,
#сортируем по прибыли
data_companies=data.explode('production_companies_list')
data_paramount=data_companies\
[data_companies.production_companies_list\
.str.contains('Paramount Pictures')]
data_paramount.groupby(['original_title'])['Profit']\
.min().sort_values(ascending=True)

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: Profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19']='5. 2015'
#+

In [46]:
#группируем по году выпуска
#считаем суммарные сборы
data.groupby(['release_year'])['revenue']\
.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20']='1. 2014'
#+

In [48]:
#первая часть по аналогии с вопросом 18
# далее группируем по году выпуска,суммируем сборы
data_production=data.explode('production_companies_list')
data_warner_bros=data_production\
[data_production.production_companies_list\
.str.contains('Warner Bros')]
data_warner_bros.groupby(['release_year'])['Profit']\
.sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: Profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21']='4. Сентябрь'
#+

In [50]:
#считаем количество упоминаний месяцов
#в столбце month
data.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22']='2. 450'
#+

In [52]:
#фильтруем по содержанию в столбце month
#месяцев 6,7,8. Считаем длину списка
data_month=data[(data.month=='6')\
|(data.month=='7')|(data.month=='8')]
len(data_month)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23']='5. Peter Jackson'
#+

In [54]:
#первая часть по аналогии с 22
#разбиваем список по режиссерам
#группируем по режиссерам и считаем кол-во месяцев
data_winter=data[(data.month=='12')\
|(data.month=='1')|(data.month=='2')]
data_winter_diretcor=data_winter.explode('director')
data_winter_diretcor.groupby(['director'])['month']\
.count().sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: month, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24']='5. Four By Two Productions'
#+

In [56]:
#Разбиваем список по кинокомпаниям
#Считаем среднее значение длин названий
#для каждой компании по столбцу с длинами названий
data_length=data.explode('production_companies_list')
data_length.groupby(['production_companies_list'])\
['length_name'].mean().sort_values(ascending=False)

production_companies_list
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: length_name, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25']='3. Midnight Picture Show'
#+

In [58]:
#по аналогии с 24, только используется столбец
#с длиной описания
data_len_overview=data.explode('production_companies_list')
data_len_overview.groupby(['production_companies_list'])\
['overview_length'].mean().sort_values(ascending=False)

production_companies_list
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26']='1. Inside Out, The Dark Knight, 12 Years a Slave'
#+

In [60]:
#считаем количество фильмов,рейтинг которых выше 99% всех фильмов
data[data['vote_average']>data.quantile(0.99)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27']='5. Daniel Radcliffe & Rupert Grint верно'
#+

In [62]:
#формируем столбец с парами актеров
#разбиваем по парам
#считаем количество одинаковых пар
from itertools import combinations
data_casts=data
data_casts['pair']=data['cast_list'].apply(lambda x: list(combinations(x,2)))
data_pairs=data_casts.explode('pair')
Counter(data_pairs['pair']).most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint верно'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [ ]:
#Не уверен, что обошлось без велосипедов, но главный результат достигнут - все работает!